:root{
  --borderRadius: 0px 0px 0px 15px;
}


#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}


#boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  background-color: rgb(0, 0, 0);
  filter: drop-shadow(
    0 0 25px rgba(0, 0, 0)
  );
  border-radius: 50px;
  text-align: center;
  text-justify: auto;
}

#canvasContainer {
  width: 80vw;
  height: 80vh;
  background-color: rgb(0, 0, 0);
  filter: drop-shadow(
    0 0 25px rgba(0, 0, 0)
  );

}

#myCanvas{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#textContainer{
  color: rgb(255, 255, 255);
  font-size: xx-large;
}

#resetButton{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  display: flex;
  padding: 10px 15px; 
  min-width: 10rem;
  justify-content: center;
  border: 4px solid #4CAF50;
  border-radius: 15px;
  font-size: larger;
  color: #212121;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;

  background: linear-gradient(to right, #4CAF50 50%, rgb(75, 74, 74) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.5s ease-out, background-color 0.5s ease-out;
}

#resetButton:hover {
  background-position: 0 0; /* Mueve el gradiente para mostrar el verde */
  background-position: left; /* Desplaza el fondo para que se vea el color verde */
}

#resetButton:active {
  transform: scale(0.95);
}

/* Media Query para dispositivos más grandes (computadores) */
@media (min-width: 768px) {
  #resetButton {
    bottom: 20px;
    right: 2rem;
  }
}

/* Media Query para dispositivos más pequeños (móviles, tabletas) */
@media (max-width: 767px) {
  #resetButton {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.paste-button {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: opacity 0.5s;
}

.paste-button:not(:focus){
  opacity: 0.5;
  z-index: 100;
}

.paste-button:hover{
  opacity: 1;
}

.dropbtn {
  background-color: #4CAF50;
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: relative;  
  z-index: 1;
  min-width: 200px;
  background-color: #212121;
  border: 2px solid #4CAF50;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content span {
  color: #4CAF50;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
  position: relative;
  border-radius: 0px 12px 12px 12px;
}

.dropdown-content span:hover{
  background-color: #4CAF50;
  color: #212121;
}

.dropdown-content a {
  display: none;
  color: #4CAF50;
  padding: 8px 10px;
  text-decoration: none;
  transition: 0.1s;
}


.dropdown-content span:first-of-type:hover {
  background-color: #4CAF50;
}

.dropdown-content-v{
  display: none;
  font-size: 13px;
  position: absolute;
  top: 0;  
  left: 100%;  
  margin-left: 10px;
  z-index: 1;
  min-width: 200px;
  background-color: #212121;
  border: 2px solid #4CAF50;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content-v a {
  display: none;
  color: #4CAF50;
  padding: 8px 10px;
  text-decoration: none;
  transition: 0.1s;
}

.dropdown-content:hover .dropdown-content-v{
  display: block;
}

.dropdown-content:hover .dropdown-content-v a{
  display: block;
}


.dropdown-content a:hover {
  background-color: #4CAF50;
  color: #212121;
}

.dropdown-content a:first-of-type:hover {
  background-color: #4CAF50;
  border-radius: 0px 12px 0px 0px;
}

.dropdown-content a:last-of-type:hover {
  background-color: #4CAF50;
  border-radius: 0px 0px 12px 12px;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #4CAF50;
}

.paste-button:hover .dropbtn {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content{
  display: block;
}
